@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-completionIcon-field::after,
.cm-completionIcon-table::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.cm-completionIcon-field::after {
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik02LjUgNy41YTEgMSAwIDEgMCAyIDBhMSAxIDAgMSAwLTIgMCIvPjxwYXRoIGQ9Ik0zIDZ2NS4xNzJhMiAyIDAgMCAwIC41ODYgMS40MTRsNy43MSA3LjcxYTIuNDEgMi40MSAwIDAgMCAzLjQwOCAwbDUuNTkyLTUuNTkyYTIuNDEgMi40MSAwIDAgMCAwLTMuNDA4bC03LjcxLTcuNzFBMiAyIDAgMCAwIDExLjE3MiAzSDZhMyAzIDAgMCAwLTMgMyIvPjwvZz48L3N2Zz4K");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiPjxwYXRoIGQ9Ik02LjUgNy41YTEgMSAwIDEgMCAyIDBhMSAxIDAgMSAwLTIgMCIvPjxwYXRoIGQ9Ik0zIDZ2NS4xNzJhMiAyIDAgMCAwIC41ODYgMS40MTRsNy43MSA3LjcxYTIuNDEgMi40MSAwIDAgMCAzLjQwOCAwbDUuNTkyLTUuNTkyYTIuNDEgMi40MSAwIDAgMCAwLTMuNDA4bC03LjcxLTcuNzFBMiAyIDAgMCAwIDExLjE3MiAzSDZhMyAzIDAgMCAwLTMgMyIvPjwvZz48L3N2Zz4K");
}

.cm-completionIcon-table::after {
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0zIDVhMiAyIDAgMCAxIDItMmgxNGEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yem0wIDVoMThNMTAgM3YxOCIvPjwvc3ZnPgo=");
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0zIDVhMiAyIDAgMCAxIDItMmgxNGEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINWEyIDIgMCAwIDEtMi0yem0wIDVoMThNMTAgM3YxOCIvPjwvc3ZnPgo=");
}
